lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# ignore yarn.lock
yarn.lock

#sqlite databse
*.sqlite3

# #################
# React Frontend
# #################

# dependencies
/frontend/.pnp
.pnp.js
/frontend/.eslintcache

# testing
/frontend/coverage

# production
/frontend/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
